<%= simple_form_for user, url: signup_path do |f| %>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(user.errors.count, "error") %> prohibited
        this user from being saved:
      </h2>
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :email, as: :string %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>
