<%= simple_form_for card do |f| %>

  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(card.errors.count, "error") %>
        prohibited this card from being saved:
      </h2>
      <ul>
        <% card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :deck_id, collection: current_user.decks, label: "Select deck" %>

  <p><b>Or creare new:</b></p>

  <%= simple_fields_for Deck.new do |f_deck| %>
    <%= f_deck.input :title %>
  <% end %>

  <%= f.input :original_text, as: :string %>
  <%= f.input :translated_text, as: :string %>
  <div align="center">
    <%= image_tag card.image.url(:medium) %>
  </div>
  <%= f.input :image, as: :file %>
  <%= f.input :review_date %>
  <%= f.button :submit %>
<% end %>
