<h3>All cards</h3>

<table width="100%">
  <tr>
    <th>Original</th>
    <th>Translated</th>
    <th>Image</th>
    <th>Review</th>
    <th>Deck</th>
  </tr>

  <% @cards.each do |card| %>
    <tr>
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= image_tag card.image.url(:thumb) %></td>
      <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
      <td><%= card.deck.title %></td>
      <td><%= link_to "Edit", edit_card_path(card) %></td>
      <td><%= link_to "Remove", card_path(card), method: :delete %></td>
    </tr>
  <% end %>
</table>
