<%= simple_form_for :review, url: reviews_path  do |f| %>
  <%= f.hidden_field :card_id, value: card.id %>
  <div align="center">
    <%= image_tag card.image.url(:medium) %>
    <p><%= card.translated_text %></p>
  </div>
  <%= f.input :answer %>
  <%= f.button :submit, "Проверить" %>
<% end %>
